// Color system 

/**
 * @tokens Colors Gray
 * @presenter Color
 */

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

/**
 * @tokens Colors
 * @presenter Color
 */

$blue:    #181b46 !default;
$purple:  #2a0933 !default;
$pink:    #e83e8c !default;
$red:     #a51e22 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;

/**
 * @tokens Colors Variant
 * @presenter Color
 */

 $primary:       $red !default;
 $secondary:     $gray-600 !default;
 $success:       $green !default;
 $info:          $blue !default;
 $warning:       $yellow !default;
 $danger:        $red !default;
 $light:         $gray-100 !default;
 $dark:          $gray-800 !default;
 $dark-2:        $purple !default;
